@use '@scss/abstracts' as theme;

.main-card-modal {
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-template-areas:
    'avatar author date'
    'description description description'
    'image image image';
  max-width: 100%;
  border-radius: theme.$main-radius;
  gap: calc(theme.$main-gap / 2);
  align-items: center;
  overflow: hidden;

  @media screen and (max-width: theme.$md) {
    grid-template-columns: 1fr;
    grid-template-areas:
      'avatar'
      'author'
      'date'
      'description'
      'image';
    font-size: 1.4rem;
  }

  &__loader {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh / 2);
  }

  &__avatar {
    border-radius: 50%;
    grid-area: avatar;
    background-color: red;
  }

  &__author {
    grid-area: author;
    font-weight: 600;
    font-size: 1.8rem;

    @media screen and (max-width: theme.$md) {
      font-size: 1.6rem;
    }
  }

  &__date {
    grid-area: date;
  }

  &__description {
    grid-area: description;
  }

  &__image {
    max-width: 100%;
    border-radius: theme.$main-radius;
    grid-area: image;
  }
}
