@use '@scss/abstracts' as theme;

.error {
  border-radius: theme.$main-radius;
  background-color: theme.$color-grey;
  padding: theme.$main-gap;

  &__heading {
    display: block;
    font-weight: 600;
    margin-bottom: theme.$main-gap;
    font-size: 1.8rem;
  }
}
