$color-primary: #fed766;
$color-primary-dark: darken($color-primary, 20%);
$color-secondary: #2ab7ca;
$color-secondary-light: lighten($color-secondary, 10%);
$color-warning: #fe4a49;
$color-warning-light: lighten($color-warning, 30%);
$color-grey: #b9b9b9;

$color-text: #181818;
$color-bg: #e6e6ea;
$color-bg-light: #ffffff;
