@use '@scss/abstracts' as theme;

.input-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(theme.$main-gap / 4);

  & > *:hover {
    cursor: pointer;
  }

  input {
    visibility: hidden;
    display: none;

    &:checked + label span {
      background-color: theme.$color-secondary;
    }
  }

  label {
    display: flex;
    align-items: center;

    span {
      width: 15px;
      height: 15px;
      margin-right: 10px;
      border-radius: 3px;
      box-shadow: theme.$shadow-color-neutral;
      background-color: theme.$color-bg-light;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        left: 4px;
        bottom: 4px;
        transform: rotate(-45deg);
        width: 2px;
        height: 5px;
        background-color: theme.$color-bg-light;
        border-radius: 1px;
      }

      &::after {
        content: '';
        position: absolute;
        left: 8px;
        bottom: 3px;
        transform: rotate(45deg);
        width: 2px;
        height: 9px;
        background-color: theme.$color-bg-light;
        border-radius: 1px;
      }
    }

    // &::before {
    //   content: '';
    // }

    &:hover {
      span {
        box-shadow: theme.$shadow-color-secondary;
      }
    }
  }
}
