@use '@scss/abstracts' as theme;

.search {
  margin: theme.$main-gap 0;
  position: relative;
  display: flex;
  align-items: center;

  &__input {
    height: calc(theme.$main-gap * 2);
    width: 100%;
    padding: 0 calc(theme.$main-gap / 2);
    border: 0;
    outline: 0;
    border-radius: theme.$main-radius;
    box-shadow: theme.$shadow-color-neutral;
    transition: all 0.15s ease-in;

    &:hover,
    &:focus {
      box-shadow: theme.$shadow-color-secondary;
    }

    &_close {
      padding-right: calc(theme.$main-gap * 2);
    }
  }

  &__clear {
    @include theme.close-button(theme.$color-grey, theme.$color-secondary, 2rem, 2rem);

    position: absolute;
    right: calc(theme.$main-gap / 2);

    &:hover,
    &:focus {
      & + input {
        box-shadow: theme.$shadow-color-secondary;
      }
    }
  }
}
