@use '@scss/abstracts' as theme;

.header {
  padding: theme.$main-gap 0;
  background-color: theme.$color-primary;
  box-shadow: theme.$shadow-bottom;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    text-transform: uppercase;
    background-color: theme.$color-primary-dark;
    padding: calc(theme.$main-gap / 4) calc(theme.$main-gap / 2);
    border-radius: theme.$main-radius;
    color: rgba(theme.$color-text, 0.9);
  }
}
